@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    color: black;
}

#spring {
    background-color: green;
}

#wrap {
    width: 90%;
    background-color: white;
    margin: 0 auto;
}

header {
    padding: 5px;
    text-align: center;
    font-family: lato;
    overflow: auto;
}

header img {
    width: 15%;
    float: left;
}

header h1 {
    font-size: 350%;
    margin-top: 60px;
    width: 90%;
}

nav {
    background-color: lightcyan;
    padding: 20px;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    color: black;
    font-family: lato;
    font-weight: bold;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 120%;
}

nav a:hover {
    color: black;
    background-color: lightgrey;
}

nav ul {
    padding: 0;
    margin: 0;
}

section {
    padding: 20px;
    text-align: center;
    overflow: auto;
    font-family: lato;
    font-size: 120%;


}

section img {
    width: 90%;
}

section h1 {

    color: black;
    font-size: 180%;
    font-family: lato;
    text-align: center;

}

section h2 {
    color: black;
    font-size: 140%;
    font-family: lato;
    text-align: center;
}

section h3 {
    color: black;
    font-size: 140%;
    font-family: lato;
}



footer {
    background-color: lightcyan;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 14px;
    font-family: lato;
}


.streaming {
    width: 30%;
    float: right;
    padding: 10px;

}

.gif {
    width 40%;
    float: right;
    padding: 10px;
}

.business {
    width: 10%;
    padding: 10px;

}

.button {
    background-color: lightcyan;
    color: black;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    margin: 10px 0 0;
    font-size: 20px;
    font-family: lato;
    font-weight: bold;
    margin-bottom: 40px;
    border: 5px;
    border-color: black;
}

a.button:hover {
    background-color: lightgray;
}

.frame {
    float: right;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 100px;
    margin-right: 5%;
}

.text {
    margin-left: 5%;
    padding-right:

}

.menu {
    width: 50%;
}

@media only screen and (max-width: 1000px) {
    body {
        background-color: lightgray;
    }

    #wrap {
        width: 98%;
    }

    header img {
        width: 30%;
    }

    header h1 {
        font-size: 200%;
    }

    nav a {
        display: block;
        padding: 5px;
        width: 100%;
        text-align: center;
    }

    nav ul,
    nav li {
        margin: 0;
        padding: 0;
    }

    nav {
        padding: 0;
    }

    .frame {
        text-align: center;
        float: none;
        padding-bottom: 20px;
    }

    .text {
        text-align: center;
    }

    .menu {
        width: 75%;
    }
